/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07.08.2014, 23:50:46
    Author     : Sascha
*/

/*----------------------------------------------------------------------------*/
/* General css */
/*----------------------------------------------------------------------------*/
body, div, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    letter-spacing: 0.0625em;
}

.fuelux .navbar .nav > li > a{
    padding: none !important;
}

.margin-top{
    margin-top: 20px;
}

.hidden {
    display: none !important;
}
/*----------------------------------------------------------------------------*/
/* Progress bar */
/*----------------------------------------------------------------------------*/
.progress{
	margin-top: 10px;
}
/*----------------------------------------------------------------------------*/
/* Image Holder */
/*----------------------------------------------------------------------------*/
#holder,
#holderMulti{
    border: 10px dashed #ccc;
    width: 422px;
	height: 300px;
    margin: 0 auto;
    text-align: center;
}

#holder.hover,
#holderMulti.hover{
    border: 10px dashed #0c0;
}

#holder img,
#holderMulti img{
    display: block;
    margin: auto;
}

#holderMulti .label {
    display: inline-block;
    margin: 5px;
	cursor: pointer;
}